<!DOCTYPE html>
<html>
<head>
	<title>Table</title>
	<link rel="stylesheet" type="text/css" href="static/queueLog.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>

	<div id="people" class="container">


	  <h1> Log List </h1>
	  <!--<div class="alphabet-filter">
	     <button class="btn btn-default" :class="{active:letter==selectedLetter}" v-for="letter in letters" @click="alphabetFilter(letter)">{{letter}}</button>
	    <button class="btn btn-default" @click="alphabetFilter('')">Clear</button> 
	  </div>-->
	  <div>
	  	<table class="table table-hover" style="table-layout: fixed;" id="myTable">
			<tr class="header">
				<th>App Name</th>
				<th>Creator</th>
				<th>Created At</th>
				<th>
					<select id="class_name">
						<option v-for="option in keys" >{{option}}</option>
					</select>	
				</th>
			</tr>
			<tr>
				<th><input type="text" id="appName" class="form-control"  onkeyup="myFunction(0,'appName')" placeholder="Search By App names.."></th>
				<th><input type="text" id="creator" class="form-control" onkeyup="myFunction(1,'creator')" placeholder="Search for names.."></th>
				<th><input type="date" id="date" class="form-control datetime-local" onkeyup="myFunction(2, 'date')" placeholder="Search for names.." ></th>
				<th>
					
				</th>
			</tr>
			<tbody v-for="(key,obj) in tableDatas">
				<tr class="tbodyRow" onclick="toggleFunc('{{key}}')">
					<td>{{obj.appName}}</td>
					<td>{{obj.actor.displayName}}</td>
					<td>{{obj.createdAt}}</td>
					<td>{{obj.queueName}}</td>
				</tr>
				<tr  id="{{key}}">
					<td colspan="4" style="display: none;width:100%;">
						<pre>{{obj|json}}</pre>
					</td>
				</tr>
			</tbody>	
		
		</table>
	  </div>
	  <div id="footer">
	  	
	  </div>
	  
	  <!-- <v-client-table :data="tableData" :columns="columns" :options="options"></v-client-table> -->
	  
	</div>
	<script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
	<script type="text/javascript" src="https://rawgit.com/matfish2/vue-tables/master/dist/vue-tables.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.17/daterangepicker.min.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.17/daterangepicker.min.js"></script>
	<!-- <script type="text/javascript" src="static/tableView.js"></script> -->
	<script type="text/javascript" src="static/queueLog.js"></script>


</body>
</html>